@import '../../../node_modules/ag-grid-community/src/styles/ag-grid.scss';
@import '../../../node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-mixin';

.practice-page {
  width: 100%;
  height: 100%;
}
.ag-grid-table-section {
	padding: 20px;
}

.ag-theme-material {
  @include ag-theme-material((
    //odd-row-background-color: #BFC8DC
  ));
}